anyio                    
appnope                  
argon2-cffi              
argon2-cffi-bindings     
arrow                    
asttokens                
attrs                    
backcall                 
beautifulsoup4           
bleach                   
cffi                     
comm                     
contourpy                
cycler                  
debugpy                  
decorator                
defusedxml               
executing                
fastjsonschema           
fonttools                
fqdn                     
idna                    
ipykernel                
ipython                  
ipython-genutils         
ipywidgets               
isoduration              
jedi                     
Jinja2                   
jsonpointer              
jsonschema               
jupyter                  
jupyter_client           
jupyter-console          
jupyter_core             
jupyter-events           
jupyter_server           
jupyter_server_terminals 
jupyterlab-pygments      
jupyterlab-widgets       
kiwisolver               
MarkupSafe               
matplotlib               
matplotlib-inline        
mistune                  
nbclassic                
nbclient                 
nbconvert                
nbformat                 
nest-asyncio             
notebook                 
notebook_shim            
numpy                    
packaging                
pandocfilters            
parso                    
pexpect                  
pickleshare              
Pillow                   
pip                      
platformdirs             
prometheus-client        
prompt-toolkit           
psutil                   
ptyprocess               
pure-eval                
pycparser                
Pygments                 
pyparsing                
pyrsistent               
python-dateutil          
python-json-logger       
PyYAML                   
pyzmq                   
qtconsole               
QtPy                    
rfc3339-validator       
rfc3986-validator       
Send2Trash              
setuptools              
six                     
sniffio                 
soupsieve               
stack-data              
terminado               
tinycss2                
tornado                 
traitlets               
uri-template            
wcwidth                 
webcolors               
webencodings            
websocket-client        
widgetsnbextension      